# Python cache
__pycache__/
*.py[cod]
*$py.class

# env
.venv/
env/
venv/
.env

# Build & packaging
*.egg-info/
dist/
build/
.eggs/

# Test & coverage
.coverage
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/
.ruff_cache/

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store

# Evals
eval/runs/